footer.footer#footer
    .footer__container.container 
        .footer__inner 
            a(href="index.html").footer__main-logo.custom-logo-link
                img(src="assets/img/logo.svg", alt="logo").custom-logo
            ul.footer__list 
                li.footer__item
                    a.footer__link(href="#" no-follow no-opener no-referer target="_blank")
                        img(src="assets/img/facebook.svg", alt="") 
                li.footer__item
                    a.footer__link(href="#" no-follow no-opener no-referer target="_blank")
                        img(src="assets/img/insta.svg", alt="") 
                li.footer__item
                    a.footer__link(href="#" no-follow no-opener no-referer target="_blank")
                        img(src="assets/img/vk.svg", alt="") 
            









//- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWOVWS2c3MWPLrXC1cPfjM_nVq7JZIR30"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
script(src="assets/js/main.min.js")
