section.instructions#instructions
    .container 
        h2.instructions__title.section-title Как это работает
    .instructions__container 
        .instructions__list
            .instructions__item
                .instructions__inner
                    span.instructions__icon
                        img(src="assets/img/icon_leaf.svg", alt="")
                    span.instructions__text Функциональное питаниесодержит только полезные питательные вещества.
                    span.instructions__counter 1
            .instructions__item 
                .instructions__inner
                    span.instructions__icon
                        img(src="assets/img/icon_tub.svg", alt="")
                    span.instructions__text Функциональное питаниесодержит только полезные питательные вещества.
                    span.instructions__counter 2
            .instructions__item 
                .instructions__inner
                    span.instructions__icon
                        img(src="assets/img/icon_eat.svg", alt="")
                    span.instructions__text Функциональное питаниесодержит только полезные питательные вещества.
                    span.instructions__counter 3
            .instructions__item 
                .instructions__inner
                    span.instructions__icon
                        img(src="assets/img/icon_alarm.svg", alt="")
                    span.instructions__text Функциональное питаниесодержит только полезные питательные вещества.
                    span.instructions__counter 4
            .instructions__item 
                .instructions__inner
                    span.instructions__icon
                        img(src="assets/img/icon_leaf.svg", alt="")
                    span.instructions__text Функциональное питаниесодержит только полезные питательные вещества.
                    span.instructions__counter 5
            .instructions__item 
                .instructions__inner
                    span.instructions__icon
                        img(src="assets/img/icon_tub.svg", alt="")
                    span.instructions__text Функциональное питаниесодержит только полезные питательные вещества.
                    span.instructions__counter 6
            .instructions__item 
                .instructions__inner
                    span.instructions__icon
                        img(src="assets/img/icon_eat.svg", alt="")
                    span.instructions__text Функциональное питаниесодержит только полезные питательные вещества.
                    span.instructions__counter 7
            .instructions__item 
                .instructions__inner
                    span.instructions__icon
                        img(src="assets/img/icon_alarm.svg", alt="")
                    span.instructions__text Функциональное питаниесодержит только полезные питательные вещества.
                    span.instructions__counter 8
            .instructions__item 
                .instructions__inner
                    span.instructions__icon
                        img(src="assets/img/icon_alarm.svg", alt="")
                    span.instructions__text Функциональное питаниесодержит только полезные питательные вещества.
                    span.instructions__counter 9
     
            //- button(type="button").instructions__arrow.instructions__arrow_left.slick-prev.slick-arrow
            //-     img(src="assets/img/arrow-paw-left.svg", alt="arrow")
            //- button(type="button").instructions__arrow.instructions__arrow_right.slick-next.slick-arrow
            //-     img(src="assets/img/arrow-paw-right.svg", alt="arrow")