section.result#result
    .container
        h2.section-title Живой пример
    .result__info
        .container
            p.result__description Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день. Борис даже стал другой породой черт возьми!
            .result__data
                .result__item 
                    span.result__quantity.result__quantity_weight 5 КГ  
                    span.result__subtitle.result__subtitle_weight снижение веса
                .result__item 
                    span.result__quantity.result__quantity_days 60 ДНЕЙ  
                    span.result__subtitle.result__subtitle_days затрачено времени
            .result__price-wrapper
                h3.result__price-title Затраты на питание: 
                span.result__price 15 000 РУБ.
        .weight-results#weight-results
            span.weight-results__text.weight-results__before БЫЛО
            span.weight-results__text.weight-results__after СТАЛО
            img(src="assets/img/cat-before.png", alt="cat-before")
            img(src="assets/img/cat-after.png", alt="cat-before")   

              