doctype html
html(lang="ru")
    include assets/pug/blocks/head
    body    
        .page
            include assets/pug/blocks/header 
            .main
                include assets/pug/blocks/animalWeight  
                include assets/pug/blocks/instruction
                include assets/pug/blocks/result
                include assets/pug/blocks/map
                
            include assets/pug/blocks/footer                
                
                    