/* colors */

   color1 = rgb(255 255 255)
   color2 = rgb(0 0 0) 
   color3 = rgb(104 183 56) // Цвет кнопок, цвет фона для иконок в секции вес
   color4 = rgba(242 242 242 1) // цвет фона для блоков в секции вес
   color5 = rgba(68 68 68 1) // цвет текста в секции инструкций
   color6 = rgba(0 0 0 1)  // цвет текста в секции с калькулятором
   color7 = rgba(205 205 205 1) // для бордера цвет
   color8 = rgb(117 117 117) // цвет подзаголовков
  







/* z index */

/*! normalize.css v8.0.1|MITLicense|github.com/necolas/normalize.css Document Correct the lineheightinall browsers*/
/*!Removethebottomborderin Chrome 57-@ DocumentCorrectthelineheightinallbrowsersadjustments*/
/*! animation.css v8.0.1|MITLicense|github.com/necolas/animation.css Document Correct the lineheightinall browsers*/
/*!Removethebottomborderin Chrome 57-@Document Correct the line heightinallbrowsersadjustments*/
/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
/* Sections
   ========================================================================== */

/**
 * Render the `main` element consistently in IE. @
 */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */

/**
 * 1. @Add the correct box sizing in Firefox.
 * 2. @Show the overflow in Edge and IE.
 */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/**
 * Render the `main` element consistently in IE.
 */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
/* Embedded content
   ========================Change the font styles in all browsers.*/
/*Correct*/
@import url(http://normalize.github.bk-portfolio.ru/normalize.css); /*Correct text decoration in Chrome, Edge, IE, Opera, and Safari====================/*

   /* Embedded content
     ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* Text-level semantics
   ========================================================================== */
/**
 * Render the `main` element consistently in IE.
 */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* Text-level semantics
   ========================================================================== */

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/**
 * Render the `main` element consistently in IE.
 */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
