// --------vars, reboot, mixins--------
            
@import "blocks/vars.styl";
@import "blocks/reboot/reboot.styl";
@import "blocks/reboot/normalize.styl";


@import "blocks/outside/twentytwenty.styl";
@import "blocks/outside/slick.styl";


@import "blocks/fonts.styl";
@import "blocks/specific.styl";
@import "blocks/burger.styl";

// ---------main css------------

@import "blocks/header.styl";
@import "blocks/animalWeight.styl";
@import "blocks/instruction.styl";  
@import "blocks/map.styl";
@import "blocks/result.styl";








@import "blocks/footer.styl";


// Пример подключения
// background: url(../img/test-small.jpg);


 


// -----------media-------------

@import "blocks/media.styl";

// ---------IE styles-----------

@import "blocks/IE.styl";


